@model IEnumerable<NewsWeb.Models.PostCategory>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary text-center">PostCategories</h1>

<p class="mb-3">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="d-flex flex-column">
                        <a class="p-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="p-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="p-2" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
