@model IEnumerable<NewsWeb.Models.Comment>

@{
    ViewData["Title"] = "ManyLikes";
}
<h1 class="text-primary text-center">Comments</h1>
<div class="p-2 d-flex flex-row">
    <a class="rounded p-2 m-2 border border-dark" asp-action="index">All</a>
    <a class="rounded p-2 m-2 border border-dark" asp-action="Latest">Top 10 comment mới nhất</a>
    <a class="rounded p-2 m-2 border border-dark  bg-secondary text-white" asp-action="ManyLikes">Top 10 comment nhiều like nhất</a>
    <a class="rounded p-2 m-2 border border-dark" asp-action="ManyDislikes">Top 10 comment nhiều dislike nhất</a>
</div>


<p class="mb-3">
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account)
            </th>
            <th>Like</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Post.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.UserName)
                </td>
                <td>
                    @item.Favorites.Where(f=>f.State == true).Count()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
